In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import re

In [13]:
location= 'Data/properati.csv'

df = pd.read_csv(location, index_col=0)

In [47]:
# Filtro sólo CABA y elmino los stores del tipo de propiedad
df2 = df[(df['property_type'].isin(['apartment','house','PH'])) & (df['state_name'] == 'Capital Federal')]

# Chequeo NaN
display(df2.info())

# Saco las columnas operatcion y estado, ya que son columnas con un solo valor y sin NA
df2 = df2.drop(['properati_url','expenses','operation', 'state_name', 'lat','lon','place_with_parent_names', 'country_name', 'geonames_id','price','currency','price_aprox_local_currency'], axis=1)

<class 'pandas.core.frame.DataFrame'>
Int64Index: 30952 entries, 0 to 121219
Data columns (total 25 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   operation                   30952 non-null  object
 1   property_type               30952 non-null  object
 2   place_name                  30952 non-null  object
 3   place_with_parent_names     30952 non-null  object
 4   country_name                30952 non-null  object
 5   state_name                  30952 non-null  object
 6   geonames_id                 29737 non-null  float64
 7   lat-lon                     22631 non-null  object
 8   lat                         22631 non-null  float64
 9   lon                         22631 non-null  float64
 10  price                       27828 non-null  float64
 11  currency                    27828 non-null  object
 12  price_aprox_local_currency  27828 non-null  float64
 13  price_aprox_usd             27828 non-null  float64
 14  surface_total_in_m2         25372 non-null  float64
 15  surface_covered_in_m2       28800 non-null  float64
 16  price_usd_per_m2            22519 non-null  float64
 17  price_per_m2                26276 non-null  float64
 18  floor                       3001 non-null   float64
 19  rooms                       15283 non-null  float64
 20  expenses                    6390 non-null   float64
 21  properati_url               30952 non-null  object
 22  description                 30952 non-null  object
 23  title                       30952 non-null  object
 24  image_thumbnail             30477 non-null  object
dtypes: float64(13), object(12)
memory usage: 6.1+ MB

None

In [48]:
df2['place_name'].value_counts()

Belgrano           2925
Palermo            2773
Caballito          2235
Villa Urquiza      1605
Recoleta           1453
                   ...
Palermo Viejo        36
Villa Real           36
Villa Soldati        13
Villa Riachuelo       6
Catalinas             3
Name: place_name, Length: 62, dtype: int64

In [49]:
df2.columns

Index(['property_type', 'place_name', 'lat-lon', 'price_aprox_usd',
       'surface_total_in_m2', 'surface_covered_in_m2', 'price_usd_per_m2',
       'price_per_m2', 'floor', 'rooms', 'description', 'title',
       'image_thumbnail'],
      dtype='object')

## Columnas a agregar/eliminar

- Amenities: Booleano. Pileta, garage/cochera, parrilla, sum, garden/jardin
- Cuota: Booleano. Ver si sigue aplicando para planes, y si eliminamos o no.
- superficie: unificar los regex de los dos grupos
- Sup total y cubierta: Tomas buscará en los trabajos del resto. Julio había imputado esto, traer el código al nuevo dataset. Revisar le tema de las que tiene valores diferentes.
- image_thumbnail: Ver si los duplicados que se encontraron son relevantes en el nuevo dataset, y ulego eliminarla
- Floor: Aplicar el regex y ver con cuantos datos nos quedamos.
- rooms y ambientes: Ver los regex que se armaron, como aplican al nuevo dataset
- expensas por ahora se elimina
- Description y title: Se saca todos los datos y se elimina

## Feature engineering

## Modelado

In [50]:
df2['place_name'].value_counts()

Belgrano           2925
Palermo            2773
Caballito          2235
Villa Urquiza      1605
Recoleta           1453
                   ...
Palermo Viejo        36
Villa Real           36
Villa Soldati        13
Villa Riachuelo       6
Catalinas             3
Name: place_name, Length: 62, dtype: int64

In [51]:
X = df2[(df2['place_name'].isin(['Belgrano','Caballito'])) & (df2['property_type'] == 'apartment')]
print(X.shape)
y = df2['price_usd_per_m2']

(4840, 13)